<div class="wrapper">
  <!-- <div class="bg_black"> -->
  <div class="career">
    <div class="career__left">
      <div class="career__img"></div>
    </div>
    <div class="career__right">
      <h2 class="career__title title_bold">Карьера</h2>
      <div class="career__desc">
        <p>это союз профессионалов, экспертов и креативных людей каждый из которых обладает опытом работы более 5 лет и
          компетенциями, покрывающими деловые, финансовые, правовые и технические аспекты нашей деятельности.</p>
      </div>
      <div class="main-block__btn">
        <div class="main-block__btn_download btn_download"></div>
        <span>скачать презентацию</span>
      </div>
      <button class="career__btn button_border-white-lg">Отправить заявку HR’у</button>
    </div>
  </div>
  <!-- </div> -->
</div>
