<div class="wrapper">
  <!-- <div class="bg_black"> -->
  <div class="development">
    <div class="development__right">
      <h2 class="development__title title_bold">Девелопмент, разработка и реализация проекта</h2>
      <div class="development__desc">
        <p>Помогаем клиентам безопасно реализовать любой проект. Выполняем функцию девелопера и контролируем все этапы
          реализации сделки.</p>
        <p> Подбираем оптимальные участки под строительство, помогаем выбрать надежного генерального подрядчика и
          находим архитектора проекта.</p>
      </div>
      <div class="main-block__btn">
        <button class="button_border-blue">связаться с нами</button>
      </div>
    </div>
    <div class="development__left">
      <img class="development__img_sm" src="img/item4.png" alt="item">
      <div class="development__img"></div>
    </div>
  </div>
  <!-- </div> -->
</div>
