<footer>
  <div class="wrapper">
    <div class="footer">
      <div class="footer__left">
        <h2 class="footer__title title_bold">Адреса компании</h2>
        <ul class="footer__address address">
          <li class="address__item">
            <h3 class="address__title">Москва</h3>
            <div class="address__desc">ул. Третьяковская, 46, оф 17</div>
            <span>+79 (495) 456-44-55</span>
          </li>
          <li class="address__item">
            <h3 class="address__title">Цюрих</h3>
            <div class="address__desc">ул. Третьяковская, 46, оф 17</div>
            <span>+79 (495) 456-44-55</span>
          </li>
          <li class="address__item">
            <h3 class="address__title">Лондон</h3>
            <div class="address__desc">ул. Третьяковская, 46, оф 17</div>
            <span>+79 (495) 456-44-55</span>
          </li>
        </ul>
        <ul class="footer__contact contact">
          <li class="contact__item">
            <h3 class="contact__title">+79 (919) 111 99 19</h3>
            <div class="contact__img"><img src="img/telegram.png" alt="telegram"></div>
            <div class="contact__img"><img src="img/viber.png" alt="viber"></div>
          </li>
          <li class="contact__item">
            <h3 class="contact__title">willgrade</h3>
            <div class="contact__img"><img src="img/skype.png" alt="skype"></div>
          </li>
        </ul>
      </div>
      <div class="footer__right col-8">
        <div class="footer__map"></div>
      </div>
    </div>
  </div>
</footer>
