<!-- Start header block -->
<div class="wrapper">
      <header class="header">
          {{
            mixins.nav({
              list: ["Продажа квартир", "Инвестиции", "Девелопмент", "Карьера", "Контакты"]
            })
          }}
        <div class="header__phone phone_white header__phone_xl">
          +7 (495) 33 222 11
        </div>
        <div class="header__btn">
          <button class="header__btn_xl button_white-lg">оставить заявку</button>
          <button class="header__btn_md"><img src="img/form-ico.png" alt=""></button>
        </div>
      </header>
    </div>
<!-- End header block -->