<!-- Start header block -->
<div class="wrapper">
      <header class="header">
        <nav class="header__nav nav">
          <div class="nav__icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <ul class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link">Продажа квартир</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Инвестиции</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Девелопмент</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Карьера</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
            <div class="header__phone header__phone_sm">
                +7 (495) 33 222 11
            </div>
          </ul>
        </nav>
        <div class="header__phone header__phone_xl">
          +7 (495) 33 222 11
        </div>
        <div class="header__btn">
          <button class="header__btn_xl button_white-lg">оставить заявку</button>
          <button class="header__btn_md"><img src="img/form-ico.png" alt=""></button>
        </div>
      </header>
    </div>
<!-- End header block -->