<!-- Start hero block -->
<div class="wrapper">
  <div class="hero_inner">
    <div class="col-sm-12">
      <div class="hero">
        <div class="hero__logo">
          <img src="img/logo-white.png" alt="" />
        </div>
        <h1 class="hero__title title_bold">
          Инвестиции в жилую и коммерческую недвижимость по всему миру
        </h1>
        <p class="hero__desc col-9 col-sm-12">
          Мы осуществляем продажу квартир и коммерческой недвижимости в Москве,
          Великобритании, Австрии, Монако, Швейцарии, Франции, Германии и Чехии.
        </p>
        <div class="hero__buttons">
          <button class="button_border-white-lg">Задать вопрос</button>
          <div class="hero__btn-video">
            <img src="img/video-btn.png" alt="play video">
            <span>Смотреть видео основателя</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End hero block -->
