<div class="wrapper">
    <!-- <div class="bg_black"> -->
      <div class="investment">
        <div class="investment__left">
          <div class="investment__img"></div>
        </div>
        <div class="investment__right">
          <h2 class="investment__title title_bold">Инвестиции в жилую и коммерческую недвижимость</h2>
          <div class="investment__desc">
            <p>В портфолио наших инвестиционных проектов коммерческой недвижимости офисы, отели, особняки, склады и лучшие
              объекты жилищного фонда в Москве и Европе. </p>
            <p>С нами клиент выгодно инвестирует и в элитную жилую недвижимость, надежно сохранив заработанные деньги.</p>
          </div>
          <div class="main-block__btn">
            <img src="img/download.png" alt="download button">
            <span>скачать каталог</span>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>