<div class="wrapper bg_white">
  <div class="main">
    <div class="main__logo"> <img src="img/logo-black.png" alt="logo"> </div>
    <div class="block">
      {{
            mixins.nav_main({
              list: ["Продажа квартир", "Инвестиции", "Девелопмент", "Карьера", "Контакты"]
            })
          }}
      <div class="main__phone phone_blue">
        +7 (495) 33 222 11
      </div>
      <div class="header__btn">
        <button class="header__btn_xl button_blue">оставить заявку</button>
        <button class="header__btn_md"><img src="img/form-ico.png" alt=""></button>
      </div>
    </div>
  </div>
</div>
