<div class="wrapper">
  <div class="main-block">
    <div class="main-block__img_md"><img src="img/item1.png" alt="item"></div>
    <div class="main-block__left">
      <h2 class="main-block__title title_light">Купить квартиру в Москве</h2>
      <div class="main-block__desc">
        <p>В нашем портфолио собраны несколько тысяч уникальных планировок квартир
          бизнес-класса
          в новостройках. Эксперты
          компании досконально владеют актуальной информацией о состоянии рынка жилой недвижимости в Москве.</p>
        <p>Мы анализируем цены, спрос и предложение, помогаем одобрить ипотеку, получить
          рассрочку от застройщика, другие
          скидки, сопровождаем все этапы сделки без потерь.</p>
      </div>
      <div class="main-block__btn">
        <div class="main-block__btn_download btn_download"></div>
        <span>скачать каталог</span>
      </div>
    </div>
    <div class="main-block__right">
      <div class="main-block__img"></div>
    </div>
  </div>
</div>
