<!-- <div class="bg_white"> -->
  <div class="fix">
<div class="wrapper">
  <div class="main">
    <div class="main__logo"> <img src="img/logo-black.png" alt="logo"> </div>
    <div class="block">
      {{
            mixins.nav_main({
              list: ["Продажа квартир", "Инвестиции", "Девелопмент", "Карьера", "Контакты"]
            })
          }}
      <div class="main__phone phone_blue">
        +7 (495) 33 222 11
      </div>
      <div class="header__btn">
        <button class="header__btn_xl button_blue" data-modal-control="request_form">оставить заявку</button>
        <button class="header__btn_md" data-modal-control="request_form"><img src="img/form-ico.png" alt="request"></button>
      </div>
    </div>
  </div>
</div>
</div>