.header
    padding-top: 30px
    display: flex
    justify-content: flex-end
    align-items: center
    position: relative
    z-index: 1
    +md
        padding-top: 10px
    &_bg
        min-height: 100vh
        background-color: #0051c3
    &__phone
        margin-left: 60px
        +xl
            font-size: 24px
        +sm
            margin-left: 0
    &__phone_xl
        +xs
            display: none
    &__btn
        margin-left: 30px
        // +md
        //     margin: 0
    &__btn_xl
        +md
            display: none
    &__btn_md
        display: none
        +md
            display: block
            padding: 12px 16px
    &__btn_md img
        display: block
        width: 22px

#fullpage
+md
    overflow: visible

.fp-tableCell
    vertical-align: initial