// .hero_inner
//     position: static
//     transform: translate(0)
//     min-height: calc(100vh - 65px)
//     z-index: 1
//     display: flex
//     align-items: center
.hero
    &_inner
        // position: absolute
        // top: 50%
        // left: 30%
        // transform: translate(-30%, -50%)
        position: relative
        top: 0
        left: 0
        transform: translate(0)
        min-height: calc(100vh)
        // max-width: 1000px
        display: flex
        align-items: center
        max-width: 60%
        z-index: 1
        +xl
            max-width: 55%
            z-index: 0
        +lg
            max-width: 50%
        +sm
            max-width: 90%
            margin: 0 auto
            padding-top: 30px
    &__logo
        padding-bottom: 114px
        +xl
            padding-bottom: 80px
        +md
            padding-bottom: 40px
        +sm
            padding-bottom: 30px
    &__logo img
        display: block
        width: 446px
        max-width: 100%
    &__title
        padding-bottom: 54px
        +xl
            font-size: 40px
            padding-bottom: 40px
        +lg
            font-size: 30px
        +sm
            font-size: 25px
            padding-bottom: 30px
    &__desc
        color: #ececec
        font-size: 18px
        font-weight: 400
        line-height: 28px
        letter-spacing: -0.09px
        margin-left: -10px
        margin-bottom: 80px
        +xl
            margin-bottom: 50px
        +sm
            font-size: 16px
            margin-bottom: 30px
    &__buttons
        display: flex
        align-items: center
        +xl
            flex-direction: column
            align-items: flex-start
        +sm
            align-items: center
    &__btn-video
        padding-left: 90px
        display: flex
        align-items: center
        +xxl
            padding-left: 50px
        +xl
            padding-left: 0px
            padding-top: 50px
        +sm
            padding-top: 30px
            flex-direction: column
    &__btn-video img
        display: block
        cursor: pointer
    &__btn-video span
        padding-left: 25px
        color: #ececec
        font-size: 16px
        cursor: pointer
        text-transform: uppercase
        +sm
           padding-left: 0
           padding-top: 15px
           font-size: 14