.main-block
    min-height: calc(100vh - 109px)
    display: flex
    justify-content: space-between
    padding-top: 28px
    margin: 0 0 0 -10px
    +lg
        padding-left: 60px
    +md
        min-height: auto
        flex-direction: column
        padding-left: 70px
    +ms
        max-width: 300px
    &__img_md img
        display: block
        max-width: 100%
    &__img_md
        display: none
        +md
            display: block
    &__left
        max-width: 506px
        margin-right: 50px
        min-width: 360px
        +md
            margin: 0
            min-width: auto
            max-width: 100%
        +xs
            min-width: auto
    &__right
        min-width: 325px
        width: 100%
        padding-left: 150px
        +lg
            padding: 0
    &__title
        max-width: 270px
        padding-bottom: 40px
        +md
            max-width: 100%
    &__img
        background-image: url(../img/item1.png)
        width: 100%
        height: 100%
        background-size: cover
        background-position: 75% 50%
    &__desc
        border-top: 1px solid #394550
        color: #394550
        font-size: 18px
        font-weight: 400
        line-height: 28px
        letter-spacing: -0.09px
        padding-top: 40px
    &__desc p
        padding: 0 0 40px 0
    &__btn img
        cursor: pointer